    <footer class="footer bg-dark">
        <div class="container-md-fluid">
            <div class="footer-header">
                <div>
                    <h2>聯絡我們</h2>
                </div>
                <ul class="social-list d-flex">
                    <li><a href="#"><img src="../assets/images/line.png" alt="Line icon"></a></li>
                    <li><a href="#"><img src="../assets/images/instagram.png" alt="ins icon"></a></li>
                    <li><a href="#" class="pr-0"><img src="../assets/images/facebook.png" alt="facebook icon"></a></li>
                </ul>
            </div>
          <H2>聯絡資訊</H2>
            <div class="d-flex">
            <div>
                <ul class="contact-list">
                    <li><a href="tel:+0800-000-000"><img src="../assets/images/phone.png" alt="call icon"> 02-1234-5678</a></li>
                    <li><a href="mailto:soap_AUS@gmail.com"><img src="../assets/images/mail.png" alt="mail icon"> soap_AUS@gmail.com</a></li>
                </ul>
            </div>
            <div class="d-flex">
                <p>客服時間</p><p>　　　　09:30-17:30</p>
            </div>
        </div>
          <div class="d-flex copyright">
            <p class="copyright-text">Copyright © 2024 TSUEI.All rights reserved.</p>
            <ul class="d-flex privacy-list">
              <li><a href="#">隱私權政策</a></li>
              <li><a href="#" class="pr-0">服務條款</a></li>
            </ul>
          </div>
        </div>
    </div>
      </footer>