    <footer class="footer bg-neutral-800 pt-lg-4 pb-lg-7">
        <div class="container py-lg-10 py-7">
            <div class="pb-6 mb-6 border-bottom border-neutral-600 d-flex justify-content-between">
                <h3 class="h3">聯絡我們</h3>
                <ul class="d-none d-lg-flex gap-8 list-unstyled me-8">
                  <li><a href="https://tw.linebiz.com/login/" target="_blank"><img src="../assets/images/line.png" alt="Line icon"></a></li>
                  <li><a href="https://www.instagram.com/" target="_blank"><img src="../assets/images/instagram.png" alt="ins icon"></a></li>
                  <li><a href="https://www.facebook.com" target="_blank"><img src="../assets/images/facebook.png" alt="facebook icon"></a></li>
                </ul>
            </div>
            <div class="row">
              <div class="col-lg-6 col">
                <h4 class="h4 mb-6">聯絡資訊</h4>
                  <div class="d-lg-flex justify-content-between mb-5">
                    <div class="d-flex flex-column mb-5">
                      <a class="fs-6 mb-5" href="tel:+0800-000-000">
                        <img class="me-4" src="../assets/images/phone.png" alt="call icon"> 02-1234-5678
                      </a>
                      <a class="fs-6" href="mailto:soap_AUS@gmail.com">
                        <img class="me-4" src="../assets/images/mail.png" alt="mail icon"> soap_AUS@gmail.com
                      </a>
                    </div>
                    <div class="fs-6 d-flex">
                      <p class="me-5 text-neutral-400">客服時間</p>
                      <p>09:30-17:30</p>
                    </div>
                  </div>
                  <ul class="d-flex gap-8 list-unstyled me-8 d-lg-none">
                    <li><a href="https://tw.linebiz.com/login/" target="_blank"><img src="../assets/images/line.png" alt="Line icon"></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><img src="../assets/images/instagram.png" alt="ins icon"></a></li>
                    <li><a href="https://www.facebook.com" target="_blank"><img src="../assets/images/facebook.png" alt="facebook icon"></a></li>
                  </ul>
              </div>
            </div>
        </div>
    </footer>