    <footer class="footer bg-neutral-800">
        <div class="container">
            <div class="pb-6 mb-6 border-bottom border-neutral-600 d-flex justify-content-between">
                <h3 class="h3">聯絡我們</h3>
                <ul class="d-flex gap-8 list-unstyled me-8">
                    <li><a href="#"><img src="../assets/images/line.png" alt="Line icon"></a></li>
                    <li><a href="#"><img src="../assets/images/instagram.png" alt="ins icon"></a></li>
                    <li><a href="#" class="pr-0"><img src="../assets/images/facebook.png" alt="facebook icon"></a></li>
                </ul>
            </div>
          <h3 class="h4 mb-6">聯絡資訊</h3>
          <div class="col-6">
            <div class="d-flex justify-content-between mb-5">
              <a class="fs-6" href="tel:+0800-000-000"><img class="me-4" src="../assets/images/phone.png" alt="call icon"> 02-1234-5678</a>
              <div class="fs-6 d-flex">
                <p class="me-5 text-neutral-400">客服時間</p>
                <p>09:30-17:30</p>
              </div>
            </div>
            <a class="fs-6" href="mailto:soap_AUS@gmail.com"><img class="me-4" src="../assets/images/mail.png" alt="mail icon"> soap_AUS@gmail.com</a>
          </div>
        </div>
    </footer>