    <footer class="footer bg-dark">
        <div class="container">
            <div class="footer-header">
                <div>
                    <h3 class="h3">聯絡我們</h3>
                </div>
                <ul class="social-list d-flex list-unstyled">
                    <li><a href="#"><img src="../assets/images/line.png" alt="Line icon"></a></li>
                    <li><a href="#"><img src="../assets/images/instagram.png" alt="ins icon"></a></li>
                    <li><a href="#" class="pr-0"><img src="../assets/images/facebook.png" alt="facebook icon"></a></li>
                </ul>
            </div>
          <h3 class="h3 mb-5">聯絡資訊</h3>
          <div class="col-6">
            <ul class="row contact-list list-unstyled">
              <li class="col-6"><a class="fs-6" href="tel:+0800-000-000"><img src="../assets/images/phone.png" alt="call icon"> 02-1234-5678</a></li>
              <li class="col-6">
                <div class="fs-6 d-flex">
                  <p class="me-5">客服時間</p>
                  <p>09:30-17:30</p>
                </div>
              </li>
              <li class="col-6"><a class="fs-6" href="mailto:soap_AUS@gmail.com"><img src="../assets/images/mail.png" alt="mail icon"> soap_AUS@gmail.com</a></li>
            </ul>
          </div>
          <div class="d-flex copyright">
            <p class="fs-6 copyright-text">Copyright © 2024 TSUEI.All rights reserved.</p>
            <ul class="d-flex privacy-list list-unstyled">
              <li class="fs-6"><a href="#">隱私權政策</a></li>
              <li class="fs-6"><a href="#" class="pr-0">服務條款</a></li>
            </ul>
          </div>
        </div>
    </div>
      </footer>