<header class="header">
    <div class="header-all mb-6"></div>
    <div class="container">
        <div class="d-flex nav">
        <div class="right_side d-flex nav">
            <a href="#">首頁</a>
            <a href="#">品牌故事</a>
            <a href="#">商品總覽</a>
        </div>
        <div class="logo_poto mb-6">
            <img src="../assets/images/logo.png" alt="TSUEI Logo">

        </div>
        <div class="left_side d-flex nav">
            <img src="../assets/images/user.png" alt="account icon">
            <img src="../assets/images/shopping-cart.png" alt="shopping cart icon"> (10)
            <div class="input-group mb-3 search-box">
                <input type="text" class="form-control rounded-pill" placeholder="search" aria-label="search" aria-describedby="basic-addon1">
            </div>
        </div>
        
        </div>
    </div>






</header>
