<header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container d-lg-none">
            <a class="navbar-brand me-auto" href="index.html">
                <img src="../assets/images/logo_sm.png" alt="TSUEI Logo">
            </a>
            <ul class="mb-0 nav align-items-center justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="../assets/images/user.png" alt="account icon">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="checkout.html">
                        <img src="../assets/images/shopping-cart.png" alt="shopping cart icon"> (4)
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shopping.html">
                        <img src="../assets/images/search.png" alt="shopping cart icon">
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">品牌故事</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="allproduct.html">商品總覽</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-none d-lg-block container py-6">
            <nav class="navbar navbar-expand-lg justify-content-between">
                <ul class="d-lg-flex d-none">
                    <li>
                        <a class="header-link px-6" href="index.html">首頁</a>
                    </li>
                    <li>
                        <a class="header-link ps-6" href="about.html">品牌故事</a>
                    </li>
                    <li>
                        <a class="header-link px-6" href="allproduct.html">商品總覽</a>
                    </li>
                </ul>
                <div>
                    <a class="tsuei-logo" href="index.html">
                        <img src="../assets/images/logo.png" alt="TSUEI Logo">
                    </a>
                </div>
                <div class="d-flex align-items-center">
                    <ul class="d-flex gap-5">
                        <li>
                            <a href="index.html">
                                <img src="../assets/images/user.png" alt="account icon">
                            </a>
                        </li>
                        <li>
                            <a class="header-link" href="checkout.html">
                                <img src="../assets/images/shopping-cart.png" alt="shopping cart icon"> (4)
                            </a>
                        </li>
                        <li>
                            <form class="d-none d-lg-flex position-relative" role="search" >
                                <input class="bg-neutral-200 text-neutral-300 border-0 form-control form-control-sm rounded-pill py-1 ps-7 pe-0" type="search" placeholder="search" aria-label="Search" />
                                <div class="find-icon">
                                    <img class="" src="../assets/images/search.png" alt="">
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </nav>
</header>
