/*footer區*/

.footer{
  padding-top: 48px;
  padding-bottom: 32px;
  color: #FAFAFA;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px white;
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.footer .nav {
  margin-bottom: 26px;
}

.footer .nav-item a {
  padding: 12px 32px;
}

.footer .social-list a {
  padding: 0;
}

.footer .social-list img {
  width: 48px;
}

.footer .contact-list {
  font-size: 36px;
  font-family: "Noto Sans TC", sans-serif;
}

.footer .contact-list .material-symbols-outlined {
  font-size: 48px;
  vertical-align: middle;
  margin-right: 20px;
}

.footer .contact-list li:not(last-child) {
  margin-bottom: 8px;
}

.footer .copyright {
  justify-content: space-between;
}

.footer .copyright-text {
  margin-bottom: 4px;
}

.footer .privacy-list a {
  padding:  0 24px;
}

/*在寬度992px以下，修正成下方設定*/
@media (max-width: 992px) {
  .footer .social-list a {
    padding: 0 8px;
  }
}


/*在寬度767px以下，修正成下方設定*/
@media (max-width: 767px) {
  
  .footer .nav {
      display: none;
  }

  .footer .contact-list {
      font-size: 16px;
  }

  .footer .social-list img {
      width:24px;
  }

  .footer .contact-list .material-symbols-outlined{
      font-size: 24px;
      margin-right: 8px;
  }

  .footer .copyright {
      flex-direction: column;
  }

  .footer .copyright {
      flex-direction: column;
  }

  .footer .privacy-list {
      flex-direction: column;
  }

  .footer .privacy-list a {
      padding: 4px 0;
  }
}