/*banner區設定*/
// .banner {
//   color: var(--secondary); /*顏色用變數設定*/
//   background-image: url("../assets/images/Banner_top.jpg");
//   background-size: cover; /*調整圖片大小*/
//   height: calc(100vh - 80px); /*計算*/
//   background-position: center;
// }

.banner {
  position: relative;
  color: var(--secondary); /* 顏色用變數設定 */
  background: none; /* 移除原本的背景圖片設定 */
  height: calc(100vh - 80px); /* 計算 */
  @include pad{
    height: calc(80vh - 80px);
  }
  @include mobile{
    height: calc(50vh - 80px);
  }
  &::before {
    content: "";
    background-image: url("../assets/images/Banner_top.jpg");
    background-size: cover; /* 調整圖片大小 */
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; /* 設定背景圖片透明度 */
    z-index: -1; /* 確.保背景圖片位於內容的後方 */
  }
}

//山與樹林圖
.mountain-photo{
  background-image: url("../assets/images/rocky-mountain-landscape.jpg");
  background-size: cover; /*調整圖片大小*/
  height: 570px;
  background-position: center;
}

//水彩筆一抹背景
.vector-photo{
  background-image: url("../assets/images/Vector 25.png");
  background-size: cover; /*調整圖片大小*/
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}

//右上棕梠樹背景圖
.leaves1_bg-photo{
  position: absolute;
  top: 0;
  right: 0;
  width: 537px;
  height: 300px;
  background-image: url("../assets/images/leaves1_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  z-index: -1;
}

//左下棕梠樹背景圖
.leaves2_bg-photo{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 242px;
  height: 535px;
  background-image: url("../assets/images/leaves2_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  z-index: -1;
}

//無尾熊圖
.koala-bear-img{
  background-image: url(../images/koala-bear-tree-branch.jpg);
  background-size: cover;
  background-position: center;
  height: 264px;
}

//精選商品背景圖
.bg2-photo{
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 20px);
  height: 200vh;
  background-image: url("../assets/images/bg-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  z-index: -1;
}


// 透明度的BOX
.box-whith60 {
  background-color: rgba(255, 255, 255, 0.6); /* 白色背景，60% 不透明 */
  height: auto;
}

.box-title{
  color: #6F4620;
}

//多樣商品介紹的BOX
.box-outSide{
  //height:535px;
  border: 3px solid $neutral-600;
  @include pad{
    border: 0;
  }
}

.box-inSideFirst{
  background: #E8EFCF66;
  //overflow: hidden;
}

.card-grey{
  background-color: #F0F0F0;
}



.top-title{
  color: #FAFAFA;
  font-size: 64px;
  font-family: "Roboto";
}

.normal-title{
  color: #FAFAFA;
  font-size: 32px;
  font-family: "Roboto";
}

.text-description{
  font-size: 20px;
  color: #262626;
  font-weight: 700;
  text-align: center;
}

.text-description2{
  font-size: 20px;
  color: #262626;
  font-weight: 400;
  text-align: center;
}

.card-1{
  margin-bottom: 8px;
  font-weight: 700;
}





.mb-b7{
  margin-bottom: 28px;
}

.mb-b8{
  margin-bottom: 32px;
}

.mb-b22{
  margin-bottom: 88px;
}

.mb-b30{
  margin-bottom: 120px;
}

.mt-t16{
  margin-top: 64px;
}

.mt-t30{
  margin-top: 120px;
}

.mr-r3{
  margin-right: 12px;
}

.pt-t4{
  padding-top: 18px;
}

.pb-b4{
  padding-bottom: 18px;
}