/*banner區設定*/
// .banner {
//   color: var(--secondary); /*顏色用變數設定*/
//   background-image: url("../assets/images/Banner_top.jpg");
//   background-size: cover; /*調整圖片大小*/
//   height: calc(100vh - 80px); /*計算*/
//   background-position: center;
// }

.banner {
  position: relative;
  color: var(--secondary); /* 顏色用變數設定 */
  background: none; /* 移除原本的背景圖片設定 */
  height: calc(100vh - 80px); /* 計算 */
  z-index: 1; /* 確保內容位於背景圖片之上 */
}

.banner::before {
  content: "";
  background-image: url("../assets/images/Banner_top.jpg");
  background-size: cover; /* 調整圖片大小 */
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5; /* 設定背景圖片透明度 */
  z-index: -1; /* 確保背景圖片位於內容的後方 */
}


.banner-wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.banner-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.banner-subtitle {
  font-size: 24px;
  font-weight: 700;
}

/*在寬度992px以下，修正成下方設定*/
@media (max-width: 992px) {
  .banner{
      background-image: url("../img/home-header-sm.png");
  }
}

@media (max-width: 767px) {
  .banner-title{
      font-size:24px;
  }

  .banner-subtitle{
      font-size: 16px;
  }
}

.mountain-photo{
  background-image: url("../assets/images/rocky-mountain-landscape.jpg");
  background-size: cover; /*調整圖片大小*/
  height: 570px;
  background-position: center;
}

.washHand-photo{
  background-image: url("../assets/images/close-up-hand-with-cleaning-products.jpg");
  background-size: 115%; /*調整圖片大小*/
  height: 282px;
  background-position: 45% 95%;
}

.tree-photo{
  background-image: url("../assets/images/coast-twilight-summer-paradise-sun.jpg");
  background-size: cover; /*調整圖片大小*/
  height: 282px;
  background-position: center;
}

.soapSkin-photo{
  background-image: url("../assets/images/macadamia-soap-skin-care-treatment.jpg");
  background-size: 270%; /*調整圖片大小*/
  height: 282px;
  background-position: 58% 80%; 
}

.vector-photo{
  background-image: url("../assets/images/Vector 25.png");
  background-size: cover; /*調整圖片大小*/
  height: 264px;
}

.koala-photo{
  background-image: url("../assets/images/koala-bear-tree-branch.jpg");
  background-size: 105%; /*調整圖片大小*/
  height: 264px;
  background-position: 0% 50%;
}

.leaves1_bg-photo{
  position: absolute;
  top: 1430px;
  right: 0;
  width: 537px;
  height: 313px;
  background-image: url("../assets/images/leaves1_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  z-index: -1;
}

.leaves2_bg-photo{
  position: absolute;
  top: 2030px;
  left: 0;
  width: 242px;
  height: 535px;
  background-image: url("../assets/images/leaves2_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  z-index: -1;
}

.bg2-photo{
  position: absolute;
  top: 2830px;
  left: 0;
  width: calc(100vw - 20px);
  height: 200vh;
  background-image: url("../assets/images/bg-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  z-index: -1;
}

.prod_2-photo{
  height: 236px;
  background-image: url("../assets/images/prod_2.png");
  background-position: 0 50%;
  background-size: cover;
}

.prod_3-photo{
  height: 236px;
  background-image: url("../assets/images/prod_3.png");
  background-position: 0 50%;
  background-size: cover;
}

.prod_4-photo{
  height: 236px;
  background-image: url("../assets/images/prod_4.png");
  background-position: 0 50%;
  background-size: cover;
}

.prod_5-photo{
  height: 236px;
  background-image: url("../assets/images/prod_5.png");
  background-position: 0 50%;
  background-size: cover;
}

.prod_6-photo{
  height: 236px;
  background-image: url("../assets/images/prod_6.png");
  background-position: 0 50%;
  background-size: cover;
}

.prod_7-photo{
  height: 236px;
  background-image: url("../assets/images/prod_7.png");
  background-position: 0 50%;
  background-size: cover;
}

// 透明度的BOX
.box-whith60 {
  background-color: rgba(255, 255, 255, 0.6); /* 白色背景，60% 不透明 */
  height: auto;
}

.box-title{
  color: #6F4620;
}

//多樣商品介紹的BOX
.box-outSide{
  height:535px;
  border: 3px solid #525252;
}

.box-inSideFirst{
  background: #E8EFCF66;
  overflow: hidden;
}

.card-grey{
  background-color: #F0F0F0;
}



.top-title{
  color: #FAFAFA;
  font-size: 64px;
  font-family: "Roboto";
}

.normal-title{
  color: #FAFAFA;
  font-size: 32px;
  font-family: "Roboto";
}

.text-description{
  font-size: 20px;
  color: #262626;
  font-weight: 700;
  text-align: center;
}

.text-description2{
  font-size: 20px;
  color: #262626;
  font-weight: 400;
  text-align: center;
}

.card-1{
  margin-bottom: 8px;
  font-weight: 700;
}





.mb-b7{
  margin-bottom: 28px;
}

.mb-b8{
  margin-bottom: 32px;
}

.mb-b22{
  margin-bottom: 88px;
}

.mb-b30{
  margin-bottom: 120px;
}

.mt-t16{
  margin-top: 64px;
}

.mt-t30{
  margin-top: 120px;
}

.mr-r3{
  margin-right: 12px;
}

.pt-t4{
  padding-top: 18px;
}

.pb-b4{
  padding-bottom: 18px;
}