//檢查用，記得註解
.line{
  border: 1px solid;
}
//數字按鈕//
.countbtn{
  width: 240px;
}



//本月推薦裝飾線//
.decoline{
    display: block;
    font-size: 2px;
    color: black;
    position: relative;
    width: 1168px;
  
      @include mobile-lager{
        width: 768px;
      }
      @include mobile{
        width: 568px;
      }
  }
.decoline:before,
.decoline:after {
  content: "";
  position: absolute;
  top: 50%;
  background: black;
  width: 40%;
  height: 2px;
  @include mobile-lager{
    width: 35%;
  }
}
.decoline:before {
  left: 0; 
}
.decoline:after {
  right: 0;
}

//本月推薦card//
.bg-card{
  background-color:#F0F0F0;
  ;
}
