/* utilities區 */
.fs-sm{
    font-size: $font-size-sm;
}
.fs-xs{
    font-size: 12px;
}


.prod_1:hover{
    content: url(../images/prod_1_hover.jpg);
}

.prod_2:hover{
    content: url(../images/prod_2_hover.jpg);
}

.prod_3:hover{
    content: url(../images/prod_3_hover.jpg);
}

.prod_4:hover{
    content: url(../images/prod_4_hover.jpg);
}

.prod_5:hover{
    content: url(../images/prod_5_hover.jpg);
}

.prod_6:hover{
    content: url(../images/prod_6_hover.jpg);
}

.prod_7:hover{
    content: url(../images/prod_7_hover.jpg);
}

.time{
    width: 100px;
}