/* utilities區 */
.fs-sm{
    font-size: $font-size-sm;
}
.fs-xs{
    font-size: 12px;
}

.a_prod_1:hover .prod_1{
    content: url(../images/prod_1_hover.jpg);
}

.a_prod_2:hover .prod_2{
    content: url(../images/prod_2_hover.jpg);
}

.a_prod_3:hover .prod_3{
    content: url(../images/prod_3_hover.jpg);
}

.a_prod_4:hover .prod_4{
    content: url(../images/prod_4_hover.jpg);
}

.a_prod_5:hover .prod_5{
    content: url(../images/prod_5_hover.jpg);
}

.a_prod_6:hover .prod_6{
    content: url(../images/prod_6_hover.jpg);
}

.a_prod_7:hover .prod_7{
    content: url(../images/prod_7_hover.jpg);
}