<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <main>
      <section class="position-relative">
        <div class="leaves1_bg-photo"></div>
        <div class="leaves2_bg-photo"></div>
        <div class="container">
          <div class="py-10">
            <div class="col-4 mb-6">
              <h1 class="border-bottom border-2 pb-4">品牌故事</h1>
            </div>
            <dir class="text-end pe-2">
              <h5 class="mb-1">在都市喧囂中尋覓寧靜，捕捉大自然的精華與靜謐。</h5>
              <h5>專注引入無化學成分的天然肥皂，讓每塊肥皂都成為都市人心靈的自然慰藉。</h5>
            </dir>
            <div class="col-7 px-4 py-9 d-flex flex-column gap-4">
              <p>品牌創立者生活在繁忙的大都市,城市雖然繁華、便利,但偶爾會對喧囂感到疲憊。</p>
              <p>因此,他喜歡在旅行中深入大自然,從中尋找寧靜。
              <br>在一次澳洲之行,他發現了特別受歡迎的澳洲肥皂品牌。肥皂取材自大自然,完全不含化學成分,讓他深受觸動。</p>
              <p>他意識到,高品質、天然成分的肥皂,在人們最放鬆、最私密的洗浴時間中,提供在鋼筋水泥叢林中難得的自然感受,舒緩緊繃神經。</p>
              <p>回國後,決定將這份自然美好分享給更多人,在妻子鼓勵下,他創立了“清翠”品牌。</p>
              <p>“清翠”專注於將澳洲各地優質天然肥皂引入台灣市場,致力於將自然且環保的清潔技術及理念帶回台灣,並提供全新體驗。</p>
              <p>品牌核心在通過高品質天然產品,讓在繁忙生活的我們,能享受到來自大自然的悠然和寧靜。</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
