<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>商品總覽</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <main>
      <section>
        <div class="container py-5">
          <ul class="nav nav-underline pb-5">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">+臉部清潔</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">+臉部保養</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">+身體清潔</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">+身體調理</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">+沐浴系列</a>
            </li>
          </ul>
          <div class="row">
            <div class="col-6">
              <div class="position-relative">
                <div class="card border-0" style="">
                  <img src="https://fakeimg.pl/300/" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title me-5">產品名稱</h5>
                    <p class="card-text ms-5">99</p>
                    <div class="">
                      <a href="#" class="btn btn-primary">精選商品</a>
                    </div>
                  </div>
                  <div class="like-link">
                    <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="position-relative">
                <div class="card border-0" style="">
                  <img src="https://fakeimg.pl/300/" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title me-5">產品名稱</h5>
                    <p class="card-text ms-5">99</p>
                    <div class="">
                      <a href="#" class="btn btn-primary">精選商品</a>
                    </div>
                  </div>
                  <div class="like-link">
                    <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container py-5">
          <div class="position-relative">
            <div class="card border-0" style="">
              <img src="https://fakeimg.pl/300/" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title me-5">產品名稱</h5>
                <p class="card-text ms-5">99</p>
                <div class="">
                  <a href="#" class="btn btn-primary">精選商品</a>
                </div>
              </div>
              <div class="like-link">
                <a href="#"></a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container py-5">
          <div class="row">
            <div class="col-4">
              <div class="position-relative">
                <div class="card border-0" style="">
                  <img src="https://fakeimg.pl/300/" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title me-5">產品名稱</h5>
                    <p class="card-text ms-5">99</p>
                    <div class="">
                      <a href="#" class="btn btn-primary">精選商品</a>
                    </div>
                  </div>
                  <div class="like-link">
                    <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="position-relative">
                <div class="card border-0" style="">
                  <img src="https://fakeimg.pl/300/" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title me-5">產品名稱</h5>
                    <p class="card-text ms-5">99</p>
                    <div class="">
                      <a href="#" class="btn btn-primary">精選商品</a>
                    </div>
                  </div>
                  <div class="like-link">
                    <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="position-relative">
                <div class="card border-0" style="">
                  <img src="https://fakeimg.pl/300/" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title me-5">產品名稱</h5>
                    <p class="card-text ms-5">99</p>
                    <div class="">
                      <a href="#" class="btn btn-primary">精選商品</a>
                    </div>
                  </div>
                  <div class="like-link">
                    <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container py-5">
          <div class="row">
            <div class="col-4">
              <div class="position-relative">
                <div class="card border-0" style="">
                  <img src="https://fakeimg.pl/300/" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title me-5">產品名稱</h5>
                    <p class="card-text ms-5">99</p>
                    <div class="">
                      <a href="#" class="btn btn-primary">精選商品</a>
                    </div>
                  </div>
                  <div class="like-link">
                    <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="position-relative">
                <div class="card border-0" style="">
                  <img src="https://fakeimg.pl/300/" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title me-5">產品名稱</h5>
                    <p class="card-text ms-5">99</p>
                    <div class="">
                      <a href="#" class="btn btn-primary">精選商品</a>
                    </div>
                  </div>
                  <div class="like-link">
                    <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="position-relative">
                <div class="card border-0" style="">
                  <img src="https://fakeimg.pl/300/" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title me-5">產品名稱</h5>
                    <p class="card-text ms-5">99</p>
                    <div class="">
                      <a href="#" class="btn btn-primary">精選商品</a>
                    </div>
                  </div>
                  <div class="like-link">
                    <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container py-5">
          <div class="row">
            <div class="col-4">
              <div class="position-relative">
                <div class="card border-0" style="">
                  <img src="https://fakeimg.pl/300/" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title me-5">產品名稱</h5>
                    <p class="card-text ms-5">99</p>
                    <div class="">
                      <a href="#" class="btn btn-primary">精選商品</a>
                    </div>
                  </div>
                  <div class="like-link">
                    <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="position-relative">
                <div class="card border-0" style="">
                  <img src="https://fakeimg.pl/300/" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title me-5">產品名稱</h5>
                    <p class="card-text ms-5">99</p>
                    <div class="">
                      <a href="#" class="btn btn-primary">精選商品</a>
                    </div>
                  </div>
                  <div class="like-link">
                    <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="position-relative">
                <div class="card border-0" style="">
                  <img src="https://fakeimg.pl/300/" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5 class="card-title me-5">產品名稱</h5>
                    <p class="card-text ms-5">99</p>
                    <div class="">
                      <a href="#" class="btn btn-primary">精選商品</a>
                    </div>
                  </div>
                  <div class="like-link">
                    <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="py-3 d-flex justify-content-center gap-3">            
            <a href="#" class="btn btn-outline-primary" role="button">前</a>              
            <a href="#" class="btn btn-outline-primary rounded-circle" role="button">1</a>             
            <a href="#" class="btn btn-outline-primary rounded-circle" role="button">2</a>            
            <a href="#" class="btn btn-outline-primary rounded-circle" role="button">3</a>             
            <a href="#" class="btn btn-outline-primary" role="button">後</a>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
