<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>商品總覽</title>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <main>
      <section class="bg-primary-br200">
        <div class="container">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">+臉部清潔</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">+臉部保養</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">+身體清潔</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">+身體調理</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">+沐浴系列</a>
            </li>
          </ul>
        </div>
      </section>
      <section class="allproduct-bg">
        <div class="container py-10">
          <div class="row justify-content-center">
            <div class="col-5">
              <div class="d-flex mb-1">
                <div class="me-auto">
                  <h5 class="">除毛刮皂</h5>
                  <p class="me-auto fs-sm">Rummy Body & Shave Soap</p>
                </div>
                <div class="pt-2">
                  <div class="d-flex text-primary-br500">
                    <p class="mt-2 me-1">NT$</p>
                    <h3 class="h3">99</h3>                      
                  </div>
                </div>
              </div>
              <div class="position-relative">
                <img src="../assets/images/prod_1.png" class="card-img-top" alt="...">
                <button type="button" class="like-link btn" data-bs-toggle="button" autocomplete="off"><i data-feather="heart"></i></button>
              </div>
            </div>
            <div class="col-5">
              <div class="d-flex mb-1">
                <div class="me-auto">
                  <h5 class="h5">除毛刮皂</h5>
                  <p class="me-auto fs-sm">Rummy Body & Shave Soap</p>
                </div>
                <div class="pt-2">
                  <div class="d-flex text-primary-br500">
                    <p class="mt-2 me-1">NT$</p>
                    <h3 class="h3">99</h3>                      
                  </div>
                </div>
              </div>
              <div class="position-relative">
                <img src="../assets/images/prod_1.png" class="card-img-top" alt="...">
                <button type="button" class="like-link btn" data-bs-toggle="button" autocomplete="off"><i data-feather="heart"></i></button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container py-10">
          <div class="combo-bg py-10">
            <div class="combo-title p-6 ms-9 my-7">
              <h2 class="h2 mb-8">柔化肌膚組合</h2>
              <div class="d-flex align-items-end justify-content-end text-primary-br500">
                <p class="h4 me-1">NT$</p>
                <h3 class="h1">99</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container py-10">
          <div class="row row-gap-7">
            <div class="col-4">
              <div class="d-flex">
                <div class="me-auto">
                  <h5 class="">緊緻修護洗面皂</h5>
                  <p class="me-auto fs-sm">Facial Cleanser with Pink Clay</p>
                </div>
                <div class="pt-2">
                  <div class="d-flex text-primary-br500">
                    <p class="mt-2 me-1">NT$</p>
                    <h3 class="h3">99</h3>                      
                  </div>
                </div>
              </div>
              <div class="position-relative">
                <img src="../assets/images/prod_2.png" class="card-img-top" alt="...">
                <button type="button" class="like-link btn" data-bs-toggle="button" autocomplete="off"><i data-feather="heart"></i></button>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex">
                <div class="me-auto">
                  <h5 class="">深層潔淨洗面皂</h5>
                  <p class="me-auto fs-sm">Facial Cleanser with Charcoal</p>
                </div>
                <div class="pt-2">
                  <div class="d-flex text-primary-br500">
                    <p class="mt-2 me-1">NT$</p>
                    <h3 class="h3">99</h3>                      
                  </div>
                </div>
              </div>
              <div class="position-relative">
                <img src="../assets/images/prod_3.png" class="card-img-top" alt="...">
                <button type="button" class="like-link btn" data-bs-toggle="button" autocomplete="off"><i data-feather="heart"></i></button>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex">
                <div class="me-auto">
                  <h5 class="">椰子油肥皂</h5>
                  <p class="me-auto fs-sm">Base Coconut Bar Soap</p>
                </div>
                <div class="pt-2">
                  <div class="d-flex text-primary-br500">
                    <p class="mt-2 me-1">NT$</p>
                    <h3 class="h3">99</h3>                      
                  </div>
                </div>
              </div>
              <div class="position-relative">
                <img src="../assets/images/prod_4.png" class="card-img-top" alt="...">
                <button type="button" class="like-link btn" data-bs-toggle="button" autocomplete="off"><i data-feather="heart"></i></button>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex">
                <div class="me-auto">
                  <h5 class="">檸檬香桃木肥皂</h5>
                  <p class="me-auto fs-sm">Base Lemon Myrtle Bar Soap</p>
                </div>
                <div class="pt-2">
                  <div class="d-flex text-primary-br500">
                    <p class="mt-2 me-1">NT$</p>
                    <h3 class="h3">99</h3>                      
                  </div>
                </div>
              </div>
              <div class="position-relative">
                <img src="../assets/images/prod_5.png" class="card-img-top" alt="...">
                <button type="button" class="like-link btn" data-bs-toggle="button" autocomplete="off"><i data-feather="heart"></i></button>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex">
                <div class="me-auto">
                  <h5 class="">天竺葵和粉紅礦物肥皂</h5>
                  <p class="me-auto fs-sm">Base Geranium & Pink Clay Bar Soap</p>
                </div>
                <div class="pt-2">
                  <div class="d-flex text-primary-br500">
                    <p class="mt-2 me-1">NT$</p>
                    <h3 class="h3">99</h3>                      
                  </div>
                </div>
              </div>
              <div class="position-relative">
                <img src="../assets/images/prod_6.png" class="card-img-top" alt="...">
                <button type="button" class="like-link btn" data-bs-toggle="button" autocomplete="off"><i data-feather="heart"></i></button>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex">
                <div class="me-auto">
                  <h5 class="">薰衣草綠礦皂</h5>
                  <p class="me-auto fs-sm">Base Lavender & Green Clay Bar Soap</p>
                </div>
                <div class="pt-2">
                  <div class="d-flex text-primary-br500">
                    <p class="mt-2 me-1">NT$</p>
                    <h3 class="h3">99</h3>                      
                  </div>
                </div>
              </div>
              <div class="position-relative">
                <img src="../assets/images/prod_7.png" class="card-img-top" alt="...">
                <button type="button" class="like-link btn" data-bs-toggle="button" autocomplete="off"><i data-feather="heart"></i></button>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex">
                <div class="me-auto">
                  <h5 class="">天竺葵和粉紅礦物肥皂</h5>
                  <p class="me-auto fs-sm">Base Geranium & Pink Clay Bar Soap</p>
                </div>
                <div class="pt-2">
                  <div class="d-flex text-primary-br500">
                    <p class="mt-2 me-1">NT$</p>
                    <h3 class="h3">99</h3>                      
                  </div>
                </div>
              </div>
              <div class="position-relative">
                <img src="../assets/images/prod_6.png" class="card-img-top" alt="...">
                <button type="button" class="like-link btn" data-bs-toggle="button" autocomplete="off"><i data-feather="heart"></i></button>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex">
                <div class="me-auto">
                  <h5 class="">椰子油肥皂</h5>
                  <p class="me-auto fs-sm">Base Coconut Bar Soap</p>
                </div>
                <div class="pt-2">
                  <div class="d-flex text-primary-br500">
                    <p class="mt-2 me-1">NT$</p>
                    <h3 class="h3">99</h3>                      
                  </div>
                </div>
              </div>
              <div class="position-relative">
                <img src="../assets/images/prod_4.png" class="card-img-top" alt="...">
                <button type="button" class="like-link btn" data-bs-toggle="button" autocomplete="off"><i data-feather="heart"></i></button>
              </div>
            </div>
            <div class="col-4">
              <div class="d-flex">
                <div class="me-auto">
                  <h5 class="">緊緻修護洗面皂</h5>
                  <p class="me-auto fs-sm">Facial Cleanser with Pink Clay</p>
                </div>
                <div class="pt-2">
                  <div class="d-flex text-primary-br500">
                    <p class="mt-2 me-1">NT$</p>
                    <h3 class="h3">99</h3>                      
                  </div>
                </div>
              </div>
              <div class="position-relative">
                <img src="../assets/images/prod_2.png" class="card-img-top" alt="...">
                <button type="button" class="like-link btn" data-bs-toggle="button" autocomplete="off"><i data-feather="heart"></i></button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container py-5">
          <div class="py-3 d-flex justify-content-center gap-7 align-items-center">            
            <a href="#" class="btn px-1" role="button"><i data-feather="chevron-left"></i></a>              
            <a href="#" class="btn fs-3" role="button">1</a>             
            <a href="#" class="btn fs-3" role="button">2</a>          
            <a href="#" class="btn fs-3" role="button">3</a>
            <a href="#" class="btn px-1" role="button"><i data-feather="chevron-right"></i></a>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script>
      feather.replace();
    </script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
