<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <title>緊緻修護洗面皂</title>
</head>
<body class="bg-white justify-content-center">
    <!--header-->
    <%- include('./layout/header'); -%>
    <!--section1-->
    <div class="container pb-lg-10 pb-7">
    <div class="row align-items-center justify-content-center">
    <!--左側商品圖群Swiper 參考: https://codepen.io/kevin-chang-the-sasster/pen/WNGZpLx
        https://codesandbox.io/p/sandbox/qd6gyz?file=%2Findex.html
    -->
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div style="--swiper-navigation-color:#AFD198; --swiper-pagination-color:#E8EFCF;" class="swiper mySwiper2">
            <div class="swiper-wrapper">
              <div class="swiper-slide full">
                <img src="../assets/images/prod_2.png" />
              </div>
              <div class="swiper-slide full">
                <img src="../assets/images/prod_2_hover.jpg"  />
              </div>
              <div class="swiper-slide full">
                <img src="../assets/images/products/glass_coconut_oil.jpg" />
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <div thumbsSlider="" class="mt-1 swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide full ">
                <img src="../assets/images/prod_2.png" />
              </div>
              <div class="swiper-slide full">
                <img src="../assets/images/prod_2_hover.jpg" />
              </div>
              <div class="swiper-slide full">
                <img src="../assets/images/products/glass_coconut_oil.jpg" />
              </div>
            </div>
          </div>      
        </div>
        
    <!--右側介紹-->
        <div class="col-lg-4 col-md-6">
            <div class="d-flex position-relative">
              <div>
                <h1 class="fs-4 fs-lg-3">緊緻修護洗面皂</h1>
                <h2 class="fs-sm">Facial Cleanser With Pink Clay</h2> 
              </div>
              <div class="position-absolute top-0 end-0">
                <button type="button" class="like-link btn py-0 px-0" data-bs-toggle="button" autocomplete="off">
              </div>
            </div>
            
            <div class="mt-8">
                <ul>
                    <li>容量  120g</li>
                    <li class="mt-5"><span class="fs-4 text-primary-br500">NT$</span><span class="fs-1 text-primary-br500">260</span></li>
                    <!--數量按鍵 參考: https://codepen.io/NinaLena/pen/jmqwxb-->
                    <li class="d-flex align-items-end mt-5">
                        <p>數量</p>
                        <div class="input-group countbtn">
                            <div class="input-group-btn">
                                <button class="btn btn btn-light" type="button" id="down"><span class="glyphicon glyphicon-minus"><img src="../assets/images/deco/minus.png"></button>
                            </div>
                            <input type="text" id="myNumber" class="form-control input-number text-center border-0 bg-light" value="1"/>
                            <div class="input-group-btn">
                                <button class="btn btn btn-light" type="button" id="up"><span class="glyphicon glyphicon-plus"></span><img src="../assets/images/deco/plus.png"></button>
                            </div>
                        </div>
                    </li>
                    <li class="mt-8 d-flex justify-content-evenly justify-content-lg-start">    
                      <button type="button" class="btn btn-primary-br500 rounded-3 px-lg-5 px-5 py-1 fs-6 text-neutral-50" data-bs-toggle="modal" data-bs-target="#exampleModal">加入購物車</button>
                        <!-- 互動視窗Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content rounded-2">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">提示</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              您已成功將商品加入購物車 !
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary-br500 text-white rounded-3" data-bs-dismiss="modal">關閉</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <a href="checkout.html" type="button" class="btn btn btn-primary-br200 rounded-3 px-lg-7 ms-lg-4 px-6 py-1 ms-4 fs-6 text-primary-br500">立即結帳</a>
                    </li>
                </ul>
            </div>
        </div>
      <!--商品描述-->
      <div class="col-lg-8 mt-6 mx-1">
        <div class="bg-light px-3">
          <ul>
            <li class="fw-bold py-3">商品描述<li>
            <li class="fw-bold text-primary-br500 border-top pt-3">清潔效果</li>
            <li>這款潔面皂能夠有效去除臉部的污垢和多餘油脂，使用後皮膚感覺非常清爽乾淨，但不會過度乾燥。</li>
            <li class="fw-bold text-primary-br500 pt-3">溫和配方</li>
            <li>含有粉紅黏土和多種皂化植物油，如椰子油、橄欖油、蓖麻油、可可脂和甜杏仁油，這些成分溫和且具有滋潤效果，適合平衡膚質。</li>
            <li class="fw-bold text-primary-br500 pt-3">天然成分</li>
            <li>由天然成分製成，不含棕櫚油，對皮膚更友好，並且符合環保和道德標準。</li>
            <li class="fw-bold text-primary-br500 pt-3">植物清香</li>
            <li class="pb-3">一般天然成分的潔面皂會有淡淡的植物香味，使用時感覺舒適。</li>
          </ul>   
        </div>
      </div>
        
    </div>
    </div>
    
    <!--section2-->
    <div class="position-relative mb-10">
        <div class="position-absolute top-50 start-50 translate-middle mt-6">
            <img src="../assets/images/deco/recommend_deco.png" class="z-n1"/>
            
        </div>
        <!--橫線參考 : https://codepen.io/rainiewang/pen/EJLomv?editors=1100-->
        <div class="position-absolute top-50 start-50 translate-middle mt-6">
            <div class="decoline">
                <p class="fs-3 text-center">本月推薦</p>
            </div>
        </div>   
    </div>
    <!--Swiper 套件應用參考: https://hackmd.io/iUyXrm0dSN6ILfLdw1_A8w  https://codesandbox.io/p/sandbox/lvq34j-->
    <section class="container mb-10">
      <div class="swiper mySwiper3 px-0 px-md-10 px-lg-10">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card border-0 mx-auto text-truncate">
                    <div class="bg-white">
                      <p class="fs-5 card-title">除毛刮鬍皂</p>
                      <p class="fs-sm">Body & Shave Bar</p>
                    </div>
                    <div class="card-img">
                      <a class="d-block" href="facial_cleanser_with_pink_clay.html">
                        <div class="html_img_pord_1 position-relative">
                          <button type="button" class="like-link border-0 active" data-bs-toggle="button"></button>
                          <div class="position-absolute bottom-0 end-0">
                            <img src="../assets/images/deco/sale.png" alt="" class="img-lg-fluid">
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body bg-card">
                      <p class="card-text">
                          天然滋潤</br>輕鬆軟化毛髮及鬍鬚
                      </p>
                      <a href="#" class="btn btn-neutral-600 w-100 rounded-3 mt-3">來去逛逛</a>
                    </div>
                  </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 mx-auto text-truncate">
                    <div class="bg-white">
                      <p class="fs-5 card-title">緊緻修護洗面皂</p>
                      <p class="fs-sm">Facial Cleanser With Pink Clay</p>
                    </div>
                    <div class="card-img">
                      <a class="d-block" href="facial_cleanser_with_pink_clay.html">
                        <div class="html_img_pord_2 position-relative">
                          <button type="button" class="like-link border-0 active" data-bs-toggle="button"></button>
                          <div class="position-absolute bottom-0 end-0">
                            <img src="../assets/images/deco/sale.png" alt="" class="img-lg-fluid">
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body bg-card">
                      <p class="card-text">
                        柔化肌膚</br>讓肌膚富含水分，改善臉部細紋
                      </p>
                      <a href="facial_cleanser_with_pink_clay.html" class="btn btn-neutral-600 w-100 rounded-3 mt-3">來去逛逛</a>
                    </div>
                  </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 mx-auto text-truncate">
                    <div class="bg-white">
                      <p class="fs-5 card-title">深層潔淨洗面皂</p>
                      <p class="fs-sm">Facial Cleanser With Charcoal</p>
                    </div>
                    <div class="card-img">
                      <a class="d-block" href="facial_cleanser_with_pink_clay.html">
                        <div class="html_img_pord_3 position-relative">
                          <button type="button" class="like-link border-0 active" data-bs-toggle="button"></button>
                          <div class="position-absolute bottom-0 end-0">
                            <img src="../assets/images/deco/sale.png" alt="" class="img-lg-fluid">
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body bg-card">
                      <p class="card-text">
                         含活性炭</br>溫和去角質，深層潔淨面部
                      </p>
                      <a href="#" class="btn btn-neutral-600 w-100 rounded-3 mt-3">來去逛逛</a>
                    </div>
                  </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 mx-auto text-truncate">
                    <div class="bg-white">
                      <p class="fs-5 card-title">椰子油肥皂</p>
                      <p class="fs-sm">Coconut Castile Bar Soap</p>
                    </div>
                    <div class="card-img">
                      <a class="d-block" href="facial_cleanser_with_pink_clay.html">
                        <div class="html_img_pord_4 position-relative">
                          <button type="button" class="like-link border-0 active" data-bs-toggle="button"></button>
                          <div class="position-absolute bottom-0 end-0">
                            <img src="../assets/images/deco/sale.png" alt="" class="img-lg-fluid">
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body bg-card">
                      <p class="card-text">
                        純椰子油製造</br>最適合敏感肌膚的最純淨的肥皂
                      </p>
                      <a href="#" class="btn btn-neutral-600 w-100 rounded-3 mt-3">來去逛逛</a>
                    </div>
                  </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 mx-auto text-truncate">
                    <div class="bg-white">
                      <p class="fs-5 card-title">檸檬香桃木肥皂</p>
                      <p class="fs-sm">Lemon Myrtle Bar Soap</p>
                    </div>
                    <div class="card-img">
                      <a class="d-block" href="facial_cleanser_with_pink_clay.html">
                        <div class="html_img_pord_5 position-relative">
                          <button type="button" class="like-link border-0 active" data-bs-toggle="button"></button>
                          <div class="position-absolute bottom-0 end-0">
                            <img src="../assets/images/deco/sale.png" alt="" class="img-lg-fluid">
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body bg-card">
                      <p class="card-text">
                         澳洲特有檸檬香桃木精油</br>能鎮靜、提振心情與活力
                      </p>
                      <a href="#" class="btn btn-neutral-600 w-100 rounded-3 mt-3">來去逛逛</a>
                    </div>
                  </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 mx-auto text-truncate">
                    <div class="bg-white">
                      <p class="fs-5 card-title">天竺葵和粉紅礦物肥皂</p>
                      <p class="fs-sm">Geranium & Pink Clay Bar Soap</p>
                    </div>
                    <div class="card-img">
                      <a class="d-block" href="facial_cleanser_with_pink_clay.html">
                        <div class="html_img_pord_6 position-relative">
                          <button type="button" class="like-link border-0 active" data-bs-toggle="button"></button>
                          <div class="position-absolute bottom-0 end-0">
                            <img src="../assets/images/deco/sale.png" alt="" class="img-lg-fluid">
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body bg-card">
                      <p class="card-text">
                        玫瑰花清香</br>溫和且具有保濕效果
                      </p>
                      <a href="#" class="btn btn-neutral-600 w-100 rounded-3 mt-3">來去逛逛</a>
                    </div>
                  </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 mx-auto text-truncate">
                    <div class="bg-white">
                      <p class="fs-5 card-title">薰衣草綠礦皂</p>
                      <p class="fs-sm">Lavender & Green Clay Bar Soap</p>
                    </div>
                    <div class="card-img">
                      <a class="d-block" href="facial_cleanser_with_pink_clay.html">
                        <div class="html_img_pord_7 position-relative">
                          <button type="button" class="like-link border-0 active" data-bs-toggle="button"></button>
                          <div class="position-absolute bottom-0 end-0">
                            <img src="../assets/images/deco/sale.png" alt="" class="img-lg-fluid">
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="card-body bg-card">
                      <p class="card-text">
                        舒緩焦慮和壓力</br>深層清除肌膚油脂及污垢
                      </p>
                      <a href="#" class="btn btn-neutral-600 w-100 rounded-3 mt-3">來去逛逛</a>
                    </div>
                  </div>
              </div>           
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
        
        </section>
    <!--footer-->
    <%- include('./layout/footer'); -%>
<script type="module" src="../main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</body>
</html>