<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TSUEI</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

     <!--banner區-->
     <section class="banner">
      <div class="container banner-wrapper">
        <h1 class="banner-title mb-4">專注引入無化學成分的天然肥皂，</h1>
        <h2 class="banner-title mb-12">讓每塊肥皂，都成為都市人心靈的自然慰藉。</h2>
        <h3 class="banner-subtitle">在都市喧囂中尋覓寧靜，捕捉大自然的精華與靜謐。</H3>
  
      </div>
    </section>

    <!--介紹區-->
    <section>
      <div class="container">
        <div class="core_value-box mt-30 d-flex">
          <div class="mountain-photo"><!--山景照片-->
            <div>
              <ul class="list-unstyled">
                <li class="top-title">O<samp class="normal-title">rganic</samp></li>
                <li class="top-title">E<samp class="normal-title">nvironmental friendly</samp></li>
                <li class="top-title">C<samp class="normal-title">lear</samp></li>
              </ul>
            </div>
          </div>
          <div><!--綠色-->
            <div class><!--黑色文字-->
              <ul class="list-unstyled">
                <li class="mt-16"><img src="../assets/images/trees.png" alt="tree icon" class="mr-3"><samp class="text-description">專為關注地球環境和皮膚健康的人士設計</samp></li>
                <li class="mt-16"><img src="../assets/images/trees.png" alt="tree icon" class="mr-3"><samp class="text-description">採用天然成分製作，不含化學添加劑</samp></li>
                <li class="mt-16"><img src="../assets/images/trees.png" alt="tree icon" class="mr-3"><samp class="text-description">包裝使用可降解材質，從生產到使用全程減少對環境的影響</samp></li>
              </ul>



            </div>
            <div><!--粉紅色圖片-->
            </div>

          </div>
        </div>
        <div><!--藍色-->
          <div><!--棕色文字-->

          </div>
          <div><!--無尾熊圖片-->

          </div>



        </div>






      </div>




    </section>




    <div class="card" style="width: 18rem">
      <img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" />
      <div class="card-body">
        <h5 class="card-title">卡片元件</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit, iusto odio assumenda alias id
          nobis earum!
        </p>
      </div>
    </div>

    <!-- Modal 按鈕 -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      打開 modal
    </button>

    <!-- Modal 元件 -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
