<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TSUEI</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

     <!--banner區-->
     <section class="banner">
      <div class="container banner-wrapper">
        <h1 class="banner-title mb-4">專注引入無化學成分的天然肥皂，</h1>
        <h2 class="banner-title mb-12">讓每塊肥皂，都成為都市人心靈的自然慰藉。</h2>
        <h3 class="banner-subtitle">在都市喧囂中尋覓寧靜，捕捉大自然的精華與靜謐。</H3>
  
      </div>
    </section>

    <!--介紹區-->
    <section>
      <div class="container">
        <div>
          <!--第一部分-->
          <div class="row mt-30">
            <div class="col-6 mountain-photo">
              <ul class="list-unstyled">
                <li class="top-title">O<samp class="normal-title">rganic</samp></li>
                <li class="top-title">E<samp class="normal-title">nvironmental friendly</samp></li>
                <li class="top-title">C<samp class="normal-title">lear</samp></li>
              </ul>
            </div>
            <div class="col-6">
              <div class="">
                <ul class="list-unstyled mt-16">
                  <li class="mb-8"><img src="../assets/images/trees.png" alt="tree icon" class="mr-3"><samp class="text-description">專為關注地球環境和皮膚健康的人士設計</samp></li>
                  <li class="mb-8"><img src="../assets/images/trees.png" alt="tree icon" class="mr-3"><samp class="text-description">採用天然成分製作，不含化學添加劑</samp></li>
                  <li class=""><img src="../assets/images/trees.png" alt="tree icon" class="mr-3"><samp class="text-description">包裝使用可降解材質，從生產到使用全程減少對環境的影響</samp></li>
                </ul>
              </div>
              <div class="row">
                <div class="col washHand-photo">1</div>
                <div class="col tree-photo">2</div>
                <div class="col soapSkin-photo">3</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 vector-photo"><p class="text-center text-description">減少棕櫚油使用對環境至關重要。棕櫚油生產常涉及砍伐熱带雨林，不僅摧毀珍貴生態系統，並影響多種動植物生存。選擇無棕櫚油產品，支持永續農業，一起保護地球生物多樣性和氣候。</p></div>
          <div class="col-6 koala-photo mb-30"></div>
        </div>
    </section>



    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
