<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"> -->
    <title>緊緻修護洗面皂</title>
</head>
<body>
    <!--header-->
    <%- include('./layout/header'); -%>
    <!--section1-->
    <div class="container pb-10">
    <div class="row align-items-center justify-content-center">
    <!--左側商品圖群JS套件待補/Swipe 圖片數量???
    參考: https://codepen.io/kevin-chang-the-sasster/pen/WNGZpLx
    -->
        <div class="col-4">
                
        </div>
        
    <!--右側介紹-->
        <div class="col-4">
            <ul>
                <li><p class="fs-3">緊緻修護洗面皂</p></li>
                <li><p class="fs-sm">Body & Shave Bar</p></li>
                <li>容量  120g</li>
                <li><span class="fs-4 text-primary-br500">NT$</span><span class="fs-1 text-primary-br500">260</span></li>
                <li>數量</li>
                <!--數量按鍵 參考: https://codepen.io/NinaLena/pen/jmqwxb-->
                <li>
                    <div class="input-group mb-3">
                        <div class="input-group-btn">
                            <button class="btn btn-outline-secondary" type="button" id="down"><span class="glyphicon glyphicon-minus">-</button>
                        </div>
                        <input type="text" id="myNumber" class="form-control input-number" value="1"/>
                        <div class="input-group-btn">
                            <button class="btn btn-outline-secondary" type="button" id="up"><span class="glyphicon glyphicon-plus"></span>+</button>
                        </div>
                </li>
                <li>
                    <button type="button" class="btn btn-light">加入購物車</button>
                    <button type="button" class="btn btn-dark">立即結帳</button>
                </li>
            </ul>
        <!--商品描述-->
            <ul>
                <li><h5>商品描述</h5><li>
                <li class="fw-bold text-decoration-underline">清潔效果</li>
                <li>這款潔面皂能夠有效去除臉部的污垢和多餘油脂，使用後皮膚感覺非常清爽乾淨，但不會過度乾燥。</li>
                <li class="fw-bold text-decoration-underline">溫和配方</li>
                <li>含有粉紅黏土和多種皂化植物油，如椰子油、橄欖油、蓖麻油、可可脂和甜杏仁油，這些成分溫和且具有滋潤效果，適合平衡膚質。</li>
                <li class="fw-bold text-decoration-underline">天然成分</li>
                <li>由天然成分製成，不含棕櫚油，對皮膚更友好，並且符合環保和道德標準。</li>
                <li class="fw-bold text-decoration-underline">植物清香</li>
                <li>一般天然成分的潔面皂會有淡淡的植物香味，使用時感覺舒適。</li>
            </ul>   
        </div>
    
        
    </div>
    </div>
    
   
    <!--section2-->
    <div class="position-relative mb-10">
        <div class="position-absolute top-50 start-50 translate-middle mt-6">
            <img src="../assets/images/deco/recommend_deco.png" class="z-n1"/>
            
        </div>
        <!--橫線參考 : https://codepen.io/rainiewang/pen/EJLomv?editors=1100-->
        <div class="position-absolute top-50 start-50 translate-middle mt-6">
            <div class="decoline">
                <p class="fs-3 text-center">本月推薦</p>
            </div>
        </div>   
    </div>
    <!--Swipe 套件應用
    參考: https://hackmd.io/iUyXrm0dSN6ILfLdw1_A8w
        https://codesandbox.io/p/sandbox/lvq34j-->
    <section class="container mb-10">
        <div class="swiper mySwiper px-10">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card border-0 mx-auto">
                    <div class="bg-white">
                      <p class="fs-5 card-title">除毛刮鬍皂</p>
                      <p class="fs-sm">Body & Shave Bar</p>
                    </div>
                      <img
                      src="../assets/images/prod_1.png"
                      class="card-img-top"
                      alt="除毛刮鬍皂"
                    />
                    <div class="card-body bg-card">
                      <p class="card-text">
                          天然滋潤</br>輕鬆軟化毛髮及鬍鬚
                      </p>
                      <a href="#" class="btn btn-primary w-100">來去逛逛</a>
                    </div>
                  </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 mx-auto">
                    <div class="bg-white">
                      <p class="fs-5 card-title">除毛刮鬍皂</p>
                      <p class="fs-sm">Body & Shave Bar</p>
                    </div>
                      <img
                      src="../assets/images/prod_1.png"
                      class="card-img-top"
                      alt="除毛刮鬍皂"
                    />
                    <div class="card-body bg-white">
                      <p class="card-text">
                          天然滋潤</br>輕鬆軟化毛髮及鬍鬚
                      </p>
                      <a href="#" class="btn btn-primary w-100">來去逛逛</a>
                    </div>
                  </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 mx-auto">
                    <div class="bg-white">
                      <p class="fs-5 card-title">除毛刮鬍皂</p>
                      <p class="fs-sm">Body & Shave Bar</p>
                    </div>
                      <img
                      src="../assets/images/prod_1.png"
                      class="card-img-top"
                      alt="除毛刮鬍皂"
                    />
                    <div class="card-body bg-white">
                      <p class="card-text">
                          天然滋潤</br>輕鬆軟化毛髮及鬍鬚
                      </p>
                      <a href="#" class="btn btn-primary w-100">來去逛逛</a>
                    </div>
                  </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 mx-auto">
                    <div class="bg-white">
                      <p class="fs-5 card-title">除毛刮鬍皂</p>
                      <p class="fs-sm">Body & Shave Bar</p>
                    </div>
                      <img
                      src="../assets/images/prod_1.png"
                      class="card-img-top"
                      alt="除毛刮鬍皂"
                    />
                    <div class="card-body bg-white">
                      <p class="card-text">
                          天然滋潤</br>輕鬆軟化毛髮及鬍鬚
                      </p>
                      <a href="#" class="btn btn-primary w-100">來去逛逛</a>
                    </div>
                  </div>
              </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
          </div>
        
        </section>
    <!--<section>
        <div class="mb-8"> 
            <div class="container">
                <div class="position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle mt-6">
                        <img src="../assets/images/deco/recommend_deco.png" class="z-n1"/>
                        
                    </div>
                    橫線參考 : https://codepen.io/rainiewang/pen/EJLomv?editors=1100
                    <div class="position-absolute top-50 start-50 translate-middle mt-6">
                        <div class="decoline">
                            <p class="fs-3 text-center">本月推薦</p>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="swiper-container swiper-box mt-6 pt-8">
            <ul class="swiper-wrapper mt-6">
                <li class="swiper-slide d-flex flex-column mt-6 pt-8">
                  <img src="" alt="Body & Shave Bar">
                  <div class="">
                    <h4>除毛刮鬍皂</h4>
                    <div class="">
                      <p>天然滋潤</br>輕鬆軟化毛髮及鬍鬚</p>
                    </div>
                  </div>
                </li>
                <li class="swiper-slide d-flex flex-column mt-6 pt-8">
                    <img src="" alt="product">
                    <div class="">
                      <h4>洗髮皂</h4>
                      <div class="">
                        <p>保濕能力</br>不讓頭髮失去天然油脂</p>
                      </div>
                    </div>
                </li>
                </ul>
            </div>
    </section>-->
    <!--footer-->
    <%- include('./layout/footer'); -%>
<script type="module" src="../main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</body>
</html>